server:
  port: 8081
spring:
  application:
    name: AUTHENTICATION
  datasource:
    url: db_url
    username: db_username
    password: db_password
  liquibase:
    change-log: classpath:db/liquibase-changelog.xml
eureka:
  client:
    service-url:
      defaultZone: eureka_server_url
# noinspection undefined
security:
  b-crypt-encoder-strength: 10