server:
  port: 8080
spring:
  application:
    name: gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: authentication
          uri: lb://authentication
          predicates:
            - Path=/auth/**
        - id: knowledgebase
          uri: lb://knowledgebase
          predicates:
            - Path=/knowledgebase/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka