server:
  port: port_number
spring:
  application:
    name: GATEWAY
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: authentication
          uri: authentication_service_uri
          predicates:
            - Path=/auth/**
          filters:
            - RewritePath=/auth/(?<segment>.*), /$\{segment}
        - id: knowledgebase
          uri: knowledgebase_service_uri
          predicates:
            - Path=/knowledgebase/**
          filters:
            - AuthFilter
            - RewritePath=/knowledgebase/(?<segment>.*), /$\{segment}
        - id: price_schedule
          uri: price_schedule_service_uri
          predicates:
            - Path=/price_schedule/**
          filters:
            - AuthFilter
            - RewritePath=/price_schedule/(?<segment>.*), /$\{segment}